/*#################################################*/
/*-------------------MESSAGES----------------------*/
/*#################################################*/
div.content-messages div.messages,
div.content-help div.help {
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
  border: 2px solid #fbeed5;
  -webkit-border-radius: 4px;
     -moz-border-radius: 4px;
          border-radius: 4px;
}

div.content-messages div.error {
  color: #b94a48;
  background-color: #f2dede;
  border-color: #eed3d7; 
} 

div.content-messages div.status {
  color: #468847;
  background-color: #dff0d8;
  border-color: #d6e9c6; 
}

div.content-messages-inner div.warning {
  color: #c09853;
  background-color: #fcf8e3;
  border-color: #fbeed5;
}

div.content-help div.help {
  color: #3a87ad;
  background-color: #d9edf7;
  border-color: #bce8f1;
} 
